@charset "UTF-8";
@font-face {
    font-family: 'lineage';
    src: url(../lineage-2-font.ttf) format(ttf);
    src: url(../lineage-2-font.otf);
    
}
*{
    box-sizing: border-box;
    color: rgb(230, 229, 229);
}
.lineage{
    font-family: lineage;
}
body{
    background-color: goldenrod;
    font-family: fantasy;
    
}
a{
    text-decoration: 0;    
}
h1{
    text-align: right;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 5px;
    
}
h2{
    text-align: right;
    margin-top: 5px;
    
    font-size: 22px;
}
p{
    width: 420px;
    margin-bottom: 50px;
    text-align: right;
    font-size: 18px;
    margin-left: 10px; 
}
.u-margin-small{
    margin: 5px;
}
.sobre-conteudo{
    width: 45%;
    display: inline-block;
    

}
.sobre-imagem{
    width: 45%;
    display: inline-block;  
    
}
.section-sobre{
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
    
}
.sobre-conteudo_botoes{
    text-align: right;
}
.btn{
    padding: 10px 12px;
    font-size: 15px;
}
.btn_dourado{
    background-color: gold;
    color: rgb(255, 255, 255);
}
.btn_trasnparente{
    border: 1px solid gold;
}
